<div class="container">
    <h1>Viajes Reservados</h1>
    <table mat-table [dataSource]="usuario.viajes">
        <ng-container matColumnDef="conductor">
            <th mat-header-cell *matHeaderCellDef>CONDUCTOR</th>
            <td mat-cell *matCellDef="let element">{{element.conductor}}</td>
        </ng-container>
        <ng-container matColumnDef="origen">
            <th mat-header-cell *matHeaderCellDef>ORIGEN</th>
            <td mat-cell *matCellDef="let element">{{element.origen}}</td>
        </ng-container>
        <ng-container matColumnDef="destino">
            <th mat-header-cell *matHeaderCellDef>DESTINO</th>
            <td mat-cell *matCellDef="let element">{{element.destino}}</td>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>FECHA</th>
            <td mat-cell *matCellDef="let element">{{element.fecha | date:'dd/MM/yyyy'}}</td>
        </ng-container>
        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef>HORA</th>
            <td mat-cell *matCellDef="let element">{{element.hora}}</td>
        </ng-container>
        <ng-container matColumnDef="precioPlaza">
            <th mat-header-cell *matHeaderCellDef>PRECIO</th>
            <td mat-cell *matCellDef="let element">{{element.precioPlaza}}€</td>
        </ng-container>
        <ng-container matColumnDef="plazasReservadas">
            <th mat-header-cell *matHeaderCellDef>PLAZAS RESERVADAS</th>
            <td mat-cell *matCellDef="let element">{{element.plazasReservadas}}</td>
        </ng-container>
        <ng-container matColumnDef="borrarViaje">
            <th mat-header-cell *matHeaderCellDef>BORRAR PLAZA</th>
            <td mat-cell *matCellDef="let element">
                <input class="botones" type="button" value="Borrar Plaza">
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)="borrarViaje(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>