.container{
    text-align: center;
}

button{
    width: 6rem;
    height: 3rem;
    font-size: 20px;
}

table{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: solid black 1px;
    font-size: 20px;
}

th{
    border: solid black 1px;
    padding: 5rem;
    font-size: 20px;
    font-weight: bold;
    color: black;
}

td{
    border: solid black 1px;
    padding: 2rem;
    font-size: 17px;
}

.mat-row .mat-cell {
    padding: 1rem;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}

.demo-row-is-clicked {
    font-weight: bold;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    text-align: center;
    padding: 1rem;
}    

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 0px;
    padding: 1rem;
}

th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
    padding-right: 0px;
    padding: 1rem;
}

th.mat-header-cell[_ngcontent-uwf-c161]:first-of-type, td.mat-cell[_ngcontent-uwf-c161]:first-of-type, td.mat-footer-cell[_ngcontent-uwf-c161]:first-of-type {
    padding: 1rem;
}