<div class="container">
    <h1>Mis Viajes</h1>
    <form [formGroup]="formGroup" #registroForm="ngForm" (ngSubmit)="agregarViaje(registroForm)" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Lugar Origen: </mat-label>
          <input matInput required formControlName="viajeOrigen">
          <mat-error *ngIf="this.formGroup.get('viajeOrigen')?.invalid">{{getErrorOrigen()}}</mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Lugar Destino: </mat-label>
            <input matInput required formControlName="viajeDestino">
            <mat-error *ngIf="this.formGroup.get('viajeDestino')?.invalid">{{getErrorDestino()}}</mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha: </mat-label>
            <input required readonly matInput formControlName="viajeFecha"
                [min]="minDateViaje" [matDatepicker]="selector">
            <mat-error *ngIf="this.formGroup.get('viajeFecha')?.invalid">{{getErrorFecha()}}</mat-error> 
            <mat-datepicker-toggle matSuffix [for]="selector"></mat-datepicker-toggle>
            <mat-datepicker #selector></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hora: </mat-label>
            <input matInput required formControlName="viajeHora">
            <mat-error *ngIf="this.formGroup.get('viajeHora')?.invalid">{{getErrorHora()}}</mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Precio</mat-label>
            <input matInput required formControlName="viajePrecioPlaza">
            <mat-error *ngIf="this.formGroup.get('viajePrecioPlaza')?.invalid">{{getErrorPrecio()}}</mat-error>
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Plazas</mat-label>
            <input matInput required formControlName="viajePlazas">
            <mat-error *ngIf="this.formGroup.get('viajePlazas')?.invalid">{{getErrorPlazas()}}</mat-error>
        </mat-form-field><br><br>
        <button mat-raised-button>Guardar</button>
    </form>
</div> 
